.head1 {
    background-color: f0f0f0;
    padding: 10px;
}

.head1 tr {
    list-style: none;
    padding: 0; 
    margin: 0;
}

.head1 th {
    display: inline;
    margin: 0 15PX;
}

.head1 {
    display: grid;
    justify-content: center;
    background-color: #B0B0B0;
    padding: 15PX;
}

nav {
    background-color: #FFF;
    padding: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    border-radius: 9px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.3);
    transition: width 0.6s linear;
    overflow-x: hidden;
}

nav {
    width: 100%;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 1.25rem;
}

.link {
    padding: 0.5rem 0.75rem;
    font-size: 18px;
    font-weight: 600;
    color: #fefefe;
    position: relative;
    transition: color 0.25s;
}
.Contact {
    padding: 0 405px;
    margin: 275;
    align-items: center;
}

.Contact {
    position: relative;
    display: inline-block;
    
}

.Contact img {
    display: block;
}

.overlay-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aquamarine;
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.Contact tr {
    margin: 275;
    align-items: center;
}

.footer {
    background-color: f0f0f0;
    padding: 10px;
}

.footer tr {
    list-style: none;
    padding: 0; 
    margin: 0;
}

.footer td {
    display: inline;
    margin: 0 15PX;
}

.footer {
    display: grid;
    justify-content: center;
    background-color: #B0B0B0;
    padding: 15PX;
}